@import url("../fonts.css");
@import url("https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@100;200;300;400;500&display=swap");

body {
  margin: 0;
  font-family: "Merriweather Sans", sans-serif;
  font-weight: 500;
  background-color: white;
}

.landing-page {
  position: relative;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-size: cover;
  background-position: center;
  color: white;
  letter-spacing: 0.05rem;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
}

.landing-title,
.landing-description,
.landing-waitlist {
  font-family: "Merriweather Sans", sans-serif;
  position: relative;
  z-index: 1;
}

.landing-title {
  font-weight: 400;
  font-size: 3rem;
  margin-bottom: 2rem;
  color: rgb(20, 19, 19);
}

.landing-description {
  font-weight: 300;
  font-size: 1.5rem;
  margin-bottom: 2rem;
  color: black;
}

.landing-waitlist {
  font-weight: 400;
  font-size: 1.5rem;
  margin: 2rem 0;
  color: black;
}

.section1 {
  background-color: white;
}

.section2 {
  margin-top: 5rem;
  width: 100%;
  height: auto;
  background-color: #f5f5f5;
}

.continue-button {
  font-family: "Supreme", sans-serif;
  padding: 0.75rem 1.5rem;
  font-size: 1.2rem;
  cursor: pointer;
  background-color: #6c63ff;
  color: white;
  border: none;
  border-radius: 25px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s;
  margin: 2rem 0;
}

.continue-button:hover {
  background-color: #5149b6;
  transform: translateY(-2px);
  box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.2);
}

.continue-button:active {
  background-color: #3e358b;
  transform: translateY(0);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}
