@import url("../fonts.css");

.Option-container {
  font-family: "Supreme", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center; /* Center vertically */
  align-items: center; /* Center horizontally */
  padding: 2vmin;
  background-color: #1e1e1e;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 70vmin;
  height: 10vmin;
  min-height: 15vmin; /* Set a minimum height */
  max-height: 50vmin; /* Set a maximum height */
  margin: 0 auto;
  margin-top: 3vmin;
}

.Exercise-Number {
  color: #fff;
  text-decoration: underline;
  text-decoration-color: #7469b6;
}

.Add-Workout {
  font-family: "Supreme", sans-serif;
  font-size: large;
  justify-content: center;
  align-items: center;
  margin-left: -5vmin;
  background-color: transparent;
  border: none;
  padding-left: 70px;
  margin-top: 1%;
}

.Add-Workout:hover {
  color: #7469b6;
  cursor: pointer;
}

.Remove-Workout {
  font-family: "Supreme", sans-serif;
  font-size: large;
  justify-content: center;
  align-items: center;
  margin-left: -5vmin;
  background-color: transparent;
  border: none;
  padding-left: 70px;
  margin-top: 1%;
}

.Remove-Workout:hover {
  color: #7469b6;
  cursor: pointer;
}

.Workout-choice,
.Reps-container {
  margin-bottom: 1vmax;
  width: 100%;
}

.Workout-choice label {
  display: block;
  margin-bottom: 10px;
}

select {
  width: 80%;
  padding: 10px;
  font-size: 1rem;
  border-radius: 4px;
  border: 0px solid #ddd;
  color: #fff;
  background-color: #2a2a2a;
  margin-bottom: 1vmin;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
}

.Dropdown {
  position: relative;
  width: 100%;
  justify-content: space-between;
}

.Dropdown input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.Dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  max-height: 200px;
  overflow-y: auto;
  border: #121212;
  border-radius: 4px;
  background-color: #333333;
  z-index: 1000;
  padding: 0;
  margin: 0;
  list-style: none; /* Remove default bullets */
  color: #aaa;
  border-radius: 10px;
}

.Dropdown-menu li {
  padding: 8px;
  cursor: pointer;
  border-bottom: 1px solid #121212; /* Add line between items */
}

.Dropdown-menu li:hover {
  background: #f0f0f0;
}

input[type="text"] {
  width: 80%;
  padding: 10px;
  font-size: 1rem;
  border-radius: 4px;
  border: 0px solid #ddd;
  background-color: #2a2a2a;
  margin-bottom: 1vmin;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
}

input[type="text"]::placeholder {
  color: #aaa;
}

input[type="text"] {
  color: white;
}

.Reps-container {
  display: flex;
  justify-content: space-between;
  align-items: center; /* Align items in the center vertically */
}

.X-divider {
  margin: 0px 12.5px 5px -30px; /* Adjust the spacing between Reps and Sets */
  font-size: 1.5rem; /* Size of the "X" */
  color: #fff; /* Color of the "X" */
}

.Reps,
.Sets,
.Rir {
  flex: 1;
  margin-right: 10px;
}

.Reps:last-child,
.Sets:last-child,
.Rir:last-child {
  margin-right: 0;
}

.Analyze-Button {
  background-color: #9692fe;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

.Analyze-Button-Container {
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  /* Optional: to ensure the button is clearly visible */
  padding: 20px 0;
}

@media (max-width: 768px) {
  .Option-container {
    height: 18vmax;
  }
  select,
  input[type="text"] {
    width: 70%;
  }
}

@media (max-width: 480px) {
  .Option-container {
    height: 31vmin;
    width: 60vmin;
  }
  .X-divider {
    margin: 0px 15px 5px -5px;
  }
  input[type="text"] {
    width: 72%;
  }
  select {
    width: 80%;
  }
  .Add-Workout {
    padding-left: 10px;
    margin-top: 0%;
    margin-left: 2vmin;
  }
  .Remove-Workout {
    padding-left: 10px;
    margin-top: 0%;
    margin-left: 2vmin;
  }
}

@media (max-width: 400px) {
  .Option-container {
    height: 32.5vmin;
    width: 60vmin;
  }
  .X-divider {
    margin: 0px 12.5px 5px 0px;
  }
  input[type="text"] {
    width: 75%;
  }
  select {
    width: 80%;
  }
  .Add-Workout {
    padding-left: 10px;
    margin-top: 0%;
    margin-left: 1vmin;
  }
  .Remove-Workout {
    padding-left: 10px;
    margin-top: 0%;
    margin-left: 1vmin;
  }
}

@media (max-width: 385px) {
  .Option-container {
    height: 32.5vmin;
    width: 60vmin;
  }
  input[type="text"] {
    width: 73%;
  }
  select {
    width: 80%;
  }
  .Add-Workout {
    padding-left: 10px;
    margin-top: 0%;
    margin-left: 0.1vmin;
  }
  .Remove-Workout {
    padding-left: 10px;
    margin-top: 0%;
    margin-left: 1vmin;
  }
}

@media (max-width: 340px) {
  .Option-container {
    height: 40vmin;
  }
  select,
  input[type="text"] {
    width: 70%;
  }
}
