@import url("../fonts.css");

.Option-container {
  font-family: "Supreme", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2vmin;
  background-color: #1e1e1e;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 70vmin;
  height: 10vmin;
  min-height: 15vmin; /* Set a minimum height */
  max-height: 50vmin; /* Set a maximum height */
  margin: 0 auto;
  margin-top: 3vmin;
}

.Exercise-Number {
  color: #fff;
  text-decoration: underline;
  text-decoration-color: #7469b6;
}

.Add-Workout {
  font-family: "Supreme", sans-serif;
  font-size: large;
  justify-content: center;
  align-items: center;
  margin-left: 1vmin;
  background-color: transparent;
  border: none;
  padding-left: 70px;
  margin-top: 1%;
}

.Add-Workout:hover {
  color: #7469b6;
}

.Remove-Workout {
  font-family: "Supreme", sans-serif;
  font-size: large;
  justify-content: center;
  align-items: center;
  margin-left: 1vmin;
  background-color: transparent;
  border: none;
  padding-left: 70px;
  margin-top: 1%;
}

.Remove-Workout:hover {
  color: #7469b6;
}

.Workout-choice,
.Reps-container {
  margin-bottom: 1vmax;
  width: 100%;
}

.Workout-choice label {
  display: block;
  margin-bottom: 10px;
}

select {
  width: 80%;
  padding: 10px;
  font-size: 1rem;
  border-radius: 4px;
  border: 0px solid #ddd;
  color: #fff;
  background-color: #2A2A2A;
  margin-bottom: 1vmin;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
}

.Dropdown {
  position: relative;
  width: 100%;
  justify-content: space-between;
}

.Dropdown input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.Dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  max-height: 200px;
  overflow-y: auto;
  border: 1px solid #ccc;
  border-radius: 4px;
  background: white;
  z-index: 1000;
  padding: 0;
  margin: 0;
  list-style: none; /* Remove default bullets */
}

.Dropdown-menu li {
  padding: 8px;
  cursor: pointer;
  border-bottom: 1px solid #ddd; /* Add line between items */
}

.Dropdown-menu li:hover {
  background: #f0f0f0;
}

input[type="text"] {
  width: 80%;
  padding: 10px;
  font-size: 1rem;
  border-radius: 4px;
  border: 0px solid #ddd;
  background-color: #2A2A2A;
  margin-bottom: 1vmin;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
}

input[type="text"]::placeholder {
  color: #aaa;
}

input[type="text"] {
  color: white;
}

.Reps-container {
  display: flex;
  justify-content: space-between;
}

.Reps,
.Sets,
.Rir {
  flex: 1;
  margin-right: 10px;
}

.Reps:last-child,
.Sets:last-child,
.Rir:last-child {
  margin-right: 0;
}

@media (max-width: 768px) {
  .Option-container {
    height: 30vmin;
  }
  select,
  input[type="text"] {
    width: 50%;
  }
}

@media (max-width: 480px) {
  .Option-container {
    height: 31vmin;
    width: 60vmin;
  }
  input[type="text"] {
    width: 75%;
  }
  select {
    width: 80%;
  }
  .Add-Workout {
    padding-left: 10px;
    margin-top: 0%;
  }
  .Remove-Workout {
    padding-left: 10px;
    margin-top: 0%;
  }
}

@media (max-width: 400px) {
  .Option-container {
    height: 32.5vmin;
    width: 60vmin;
  }
  input[type="text"] {
    width: 75%;
  }
  select {
    width: 80%;
  }
  .Add-Workout {
    padding-left: 10px;
    margin-top: 0%;
  }
  .Remove-Workout {
    padding-left: 10px;
    margin-top: 0%;
  }
}

@media (max-width: 376px) {
  .Option-container {
    height: 32.5vmin;
    width: 60vmin;
  }
  input[type="text"] {
    width: 73%;
  }
  select {
    width: 80%;
  }
  .Add-Workout {
    padding-left: 10px;
    margin-top: 0%;
  }
  .Remove-Workout {
    padding-left: 10px;
    margin-top: 0%;
  }
}

@media (max-width: 320px) {
  .Option-container {
    height: 40vmin;
  }
  select,
  input[type="text"] {
    width: 30%;
  }
}