@import url(../fonts.css);

/* Parent container to center the days-container */
.parent-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: auto; /* Optional: This makes sure the container takes full viewport height */
}

.days-container {
  margin-bottom: 4vmin;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  background-color: transparent;
}

/* Styling for each button */
.day-button {
  padding: 1.5vmin 3vmin;
  font-size: 1rem;
  border: transparent;
  color: #aaa;
  background-color: #2A2A2A;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

/* Styling for the selected button */
.day-button.selected {
  background-color: #9692fe; /* Highlight color */
  color: #fff;
  border-color: #9692fe;
}

/* Hover effect for buttons */
.day-button:hover {
  background-color: #7469b6;
}

.WorkoutName-input {
  max-width: 30vmin;
  height: 4vmin;
  padding: 8px;
  border: none;
  border-radius: 4px;
  text-align: center;
  font-size: 5em; /* Adjust font-size as needed */
  display: flex;
  align-items: center;
  justify-content: center;
  /* margin: 0 auto 5vmin auto;*/
  background-color: transparent;
  color: #9692fe;
}
