@import url(../fonts.css);

/* Parent container to center the days-container */
.parent-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 25vh; /* Optional: This makes sure the container takes full viewport height */
}

.days-container {
  margin-bottom: 5vmin;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  background-color: transparent;
}

/* Styling for each button */
.day-button {
  padding: 15px 30px;
  font-size: 1rem;
  border: transparent;
  background-color: #f0f0f0;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

/* Styling for the selected button */
.day-button.selected {
  background-color: #7469b6; /* Highlight color */
  color: #fff;
  border-color: #7469b6;
}

/* Hover effect for buttons */
.day-button:hover {
  background-color: #ad88c6;
}

/* .WorkoutName-input {
  width: 15vmin;
  height: 5vmin;
  padding: 2vmin;
  margin-bottom: 5vmin;
  background-color: transparent;
  border-radius: 0.8vmin;
  border: transparent;
} */

/* .WorkoutName-input input[type="text"] {
  width: 100%;
  height: 100%;
  padding: 8px;
  font-size: 10em;
  border: none;
  border-radius: 4px;
  text-align: center;
  font-size: 5em;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
}

.WorkoutName-input input[type="text"]::placeholder {
  font-size: 50em;
  color: #ccc;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
} */

.WorkoutName-input {
  width: 50vmin;
  height: 5vmax;
  padding: 8px;
  border: none;
  border-radius: 4px;
  text-align: center;
  font-size: 3.5em; /* Adjust font-size as needed */
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto 5vmin auto; /* Center horizontally and set bottom margin */
  background-color: transparent;
  color: #7469b6;
}
