@font-face {
  font-family: "Supreme";
  src: url("./fonts/Supreme-Regular.woff2") format("woff2"),
    url("./fonts/Supreme-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
